<!--The content below is only a placeholder and can be replaced.-->
<!-- <table class="don" border="1" width="100%" style="background-color: darkgoldenrod">
  <thead>
        <tr style="background-color: lightskyblue">
          <th>id</th>
          <th>name</th>
          <th>country_id</th>
    
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let any of states">
        <td style="background-color: grey">{{ any.id }}</td>
        <td>{{ any.name }}</td>
        <td style="background-color: grey">{{ any.country_id }}</td>

      </tr>
    </tbody>

  </table> -->
  <router-outlet></router-outlet>
  <!-- <app-aug12></app-aug12> -->
  <!-- <app-id-card1 name="sharankumar"></app-id-card1> -->